body {
    margin: 0;
    padding: 0;
    background: url(BACKGROUNDS/Fondo.png) no-repeat center center fixed;
    background-size: cover; /* Para ajustar la imagen al tamaño de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
  }
  
 
.menu-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente para mejor legibilidad */
    padding: 2rem;
    border-radius: 10px;
}

.game-title {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #8f293f;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* Reducido para juntar más los botones */
}

.menu-btn {
    background: #2c3e50;
    color: #ffffff;
    border: 2px solid #34495e;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu-btn:hover {
    background: #34495e;
    transform: scale(1.05);
}

.menu-btn:active {
    transform: scale(0.95);
}


   /* Estilos para dificultad de nivel 1 jugador */
  .difficulty-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 3rem;
    border-radius: 15px;
    width: 90%;
    max-width: 500px;
  }
  
  .difficulty-title {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #8f293f;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }
  
  .difficulty-buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .difficulty-btn {
    background: linear-gradient(135deg, #2c3e50, #34495e);
    color: #ffffff;
    border: 2px solid #3498db;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .difficulty-btn:hover {
    background: #3498db;
    color: #000;
    transform: scale(1.1);
  }
  
  .difficulty-btn:active {
    transform: scale(0.95);
  }
  
  /* Estilos personalizados para cada nivel */
  .easy {
    border-color: #2ecc71;
  }
  
  .easy:hover {
    background: #2ecc71;
  }
  
  .normal {
    border-color: #f1c40f;
  }
  
  .normal:hover {
    background: #f1c40f;
  }
  
  .hard {
    border-color: #e74c3c;
  }
  
  .hard:hover {
    background: #e74c3c;
  }
  

 /* Estilos para configuracion*/
  .settings-container {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 2rem;
    border-radius: 15px;
    width: 90%;
    max-width: 500px;
    text-align: center;
  }
  
  .settings-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #8f293f;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }
  
  .setting-item {
    margin-bottom: 1.5rem;
  }
  
  .setting-label {
    font-size: 1.2rem;
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .slider {
    width: 100%;
    height: 8px;
    background: #2c3e50;
    border-radius: 5px;
    outline: none;
    /* -webkit-appearance: none; */
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #8f293f;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .slider::-webkit-slider-thumb:hover {
    transform: scale(1.2);
  }
  
  .save-button {
    background: #8f293f;
    color: #000;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .save-button:hover {
    background: #8f293f;
    transform: scale(1.05);
  }

 /* Estilos para menu de pausa*/
  .pause-menu-container {
    background-color: rgba(20, 20, 20, 0.9);
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }
  
  .pause-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #8f293f;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }
  
  .pause-buttons button {
    background: #2c3e50;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
  }
  
  .pause-buttons button:hover {
    background: #1abc9c;
    transform: scale(1.05);
  }
  
  .pause-buttons button:active {
    background: #1abc9c;
  }



 /* Estilos para puntuaciones*/
.scoreboard-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    width: 80%;
    max-width: 500px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }
  
  .scoreboard-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #8f293f;
  }
  
  .score-list {
    margin-bottom: 2rem;
  }
  
  .score-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .score-list li {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  
  .player-score {
    margin-top: 2rem;
  }
  
  #playerName {
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #333;
    color: white;
  }
  
  button {
    background-color: #2c3e50;
    color: #ffffff;
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    margin: 1rem 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #1abc9c;
    transform: scale(1.05);
  }
  
  button:active {
    background-color: #ff9900;
  }
  
  .back-button {
    background-color: #2c3e50;
    color: #ffffff;
    margin-top: 2rem;
  }
  
  .back-button:hover {
    color: #ffffff;
    background-color: #1abc9c;
  }
  
  .back-button:active {
    background-color: #ff2222;
  }

  .share-button{
    background-color: #3822ff;
  }
